.arrow {
    margin-top: 20px;
    border: solid blue;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    width: 8px;
    height: 8px;
  }
 
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .left:hover, .right:hover {
    border: solid red;
    border-width: 0 5px 5px 0;
    cursor: grab;
  }

  .buttonP {
    display: inline;
  }

  .buttons {
    padding: 5px 8px;
    border: 2px solid gray;
    display: inline;
    margin-bottom: 50px;
  }

  .next {
    float: right;
    margin-right: 275px;
  }

  .previous {
    float: left;
    margin-left: 235px;
  }

  .buttons:hover {
    border: 2px solid black;
    cursor: pointer;
  }