.searchZone {
    background-color: rgb(211, 201, 201);  
    height: 220px; 
    width: 100%;  
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center;
}

form {
    display: block;
    margin: auto;
    width: 500px;
    height: 100px;
}

.searchBar {  
    width: 300px;
    height: 35px;
    border: 1px gray solid;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 15px;
    margin: px 30px;
}

.searchBar:hover {
    border: 2px gray solid;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 15px;
    margin-right: 28px;
}

.searchBar:focus {
    outline: none !important;
    border: 2px gray solid;
    box-shadow: 1px 1px 1px 1px rgb(169, 122, 122);
    border-radius: 15px;
    margin-right: 28px;
}

.searchButton {
    background-image: url(https://img.myloview.fr/papiers-peints/magnifying-glass-icon-search-and-zoom-symbol-magnify-sign-magnifier-logo-web-application-and-interface-button-vector-illustration-image-isolated-on-white-background-400-236446922.jpg);
    background-size: cover;
    height: 33px;
    width: 33px;
    border: 1px gray solid;
    box-shadow: 1px 1px 1px 1px gray;
    float: right;
    margin-right: 100px;
}


.searchButton:hover {
    border: 1px black  solid; 
    
}

.searchButtonClicked {
    background-image: url(https://img.myloview.fr/papiers-peints/magnifying-glass-icon-search-and-zoom-symbol-magnify-sign-magnifier-logo-web-application-and-interface-button-vector-illustration-image-isolated-on-white-background-400-236446922.jpg);
    background-size: cover;
    height: 20px;
    width: 20px;
    border: 1px gray solid;
    box-shadow: 1px 1px 1px 1px gray,inset 1px 1px 1px 0px gray;
}

